.intro-catalog {
  margin-bottom: 36px;
}

.intro-catalog__wrapper {
  .flex-center();
  flex-direction: column;
  background-color: @background-white;
  max-width: 458px;
  margin: 0 auto;
}

.intro-catalog__title {
  .title-bold();
  margin-bottom: 24px;
}

.intro-catalog__description {
  .title-description();
}

.catalog__br--first {
  display: none;
}
