.video-catalog__wrapper {
  .flex-center();
  flex-direction: column;
  background-color: @background-white;
}

.video-catalog__title {
  .title-bold();
  font-size: 18px;
  padding-bottom: 38px;
}

.video-catalog__description {
  .title-description();
  padding-bottom: 38px;
}

.video-catalog__player {
  width: 100%;
}
