.video-catalog__wrapper {
  .flex-center();
  flex-direction: column;
  background-color: @background-white;
  margin: 0 auto;
  padding: 0 20px;
}

.video-catalog__wrapper-text {
  max-width: 445px;
  margin-bottom: 38px;
}

.video-catalog__title {
  .title-bold();
  font-size: 18px;
  padding-bottom: 30px;
}

.video-catalog__description {
  .title-description();
}

.video-catalog__player {
  width: 100%;
}
