.feedback__wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  background-color: @white;
}

.form__field-wrapper {
  padding: 0 20px;
}

.form__title {
  .title-bold();
  font-size: 18px;
  padding-bottom: 20px;
}

.field__title {
  .title-description();
  text-align: start;
  padding-left: 16px;
}

.field {
  display: flex;
  flex-direction: column;
}

.form__input--phone {
  background: url("../img/png/icon/phone.png") 100% 50% no-repeat;
}

.form__input--mail {
  background: url("../img/png/icon/mail.png") 100% 50% no-repeat;
}

.form__input {
  .bold-form();
  padding: 16px;
  margin-bottom: 16px;
  border: none;
  background-color: @background-gray-first;
}

.full-name__input-wrapper {
  padding-bottom: 39px;
}

.contact-details__input-wrapper {
  padding-bottom: 34px;
}

.general-feeling__input-radio-wrapper {
  .list-drop();
  display: grid;
  padding-bottom: 24px;
  margin: 0 auto;
}

.visited-places__input-checkbox-wrapper {
  .list-drop();
  display: grid;
  padding-bottom: 24px;
  margin: 0 auto;
}

.review-field {
  .list-drop();
  .bold-form();
  resize: none;
  border: none;
  background-color: @background-gray-first;
  width: 100%;
  min-height: 150px;
  padding: 16px;
}

.comment-trip__wrapper {
  margin-bottom: 56px;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
}

.form__required-title {
  .title-description();
  align-self: flex-end;
  color: @brown;
}
