.popup__content--positive {
  padding: 40px 0 30px;
  max-width: 244px;
}

.popup__button-wrapper--positive {
  .flex-center();
  padding: 20px 0;
  width: 320px;
  background-color: @background-gray-first;
}

.popup__button-wrapper--positive button {
  max-width: 280px;
}
