.popup__content--negative {
  .flex-center();
  flex-direction: column;
  max-width: 237px;
  margin-bottom: 27px;
}

.popup__wrapper--negative {
  min-height: 280px;
  padding: 40px 0 40px;
}

.popup__button-wrapper--negative {
  .flex-center();
  width: 180px;
}
