.hero-form {
  width: 100%;
  background:
    url("../../../../img/jpeg/background/hero-decorations.svg") no-repeat,
    url("../../../../img/jpeg/background/back-hero.jpg") no-repeat;
  background-color: @background-safe;
  background-position: 50% 100%, 50%;
  justify-content: center;
  text-align: center;
}

.hero-form__img {
  padding: 52px 50px 67px;
}
