.intro-form {
  margin-bottom: 28px;
}

.intro-form__wrapper {
  background-color: @background-white;
  width: 87.5%;
  max-width: 435px;
  margin: 0 auto;
}

.intro-form__title {
  .title-bold();
  padding-bottom: 24px;
}

.intro-form__description {
  .title-description();
}
