// main: main.less


.advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .list-drop();
}

.advantages__item-wrapper {
  padding: 24px 26px
}

.advantages__item {
  .list-drop();
  background-color: @background-white;

  &--color-first {
    color: @white;
    background-color: @blue-primary;
  }

  &--color-second {
    background-color: @background-gray-second;
  }

  &--img {
    display: contents;
  }
}

.advantages__title {
  .title-bold();
  padding-bottom: 24px;
}

.advantages__number {
  .title-description();
  padding-bottom: 24px;
}

.advantages__description {
  .title-description();
  padding-bottom: 24px;
}


.features__wrapper {
  display: flex;
}

.advantages__features-img {
  margin-right: 7.5px;
}

.advantages__title-features {
  padding-top: 8px;
  text-align: start;
}

.advantages__description-features {
  text-align: start;
}
