.advantages__list {
  .list-drop();
}

.description__br {
  display: none;
}

.advantages__item-wrapper {
  padding: 24px 26px;
  max-width: 520px;
  margin: 0 auto;
}

.advantages__item {
  .list-drop();
  background-color: @background-white;
  align-items: center;

  &--color-first {
    color: @white;
    background-color: @blue-primary;
  }

  &--color-second {
    background-color: @background-gray-second;

    &:not(:last-child) {
      border-bottom: 1px solid @gray-five;
    }
  }
}

.advantages__title {
  .title-bold();
  padding-bottom: 24px;
}

.advantages__number {
  .title-description();
  padding-bottom: 24px;
}

.advantages__description {
  .title-description();
}

.features__wrapper {
  display: flex;
}

.features__img {
  margin-right: 7.5px;
}

.advantages__title--features {
  padding-top: 8px;
  text-align: start;
}

.advantages__description--features {
  text-align: start;
}

.advantages__img {
  display: flex;
  margin: 0 auto;
}

.advantages__picture {
  grid-column: span 2;
}

.advantages {
  position: relative;
  margin-bottom: 38px;
}

.decoration-second {
  position: absolute;
  top: 0;
  width: 100%;
  height: 37px;
  background: url("../img/svg/decoration/triangle-second.svg") no-repeat;
  background-position: 50% 100%;
}

.advantages__item:first-child {
  padding-top: 53px;
}
