// main: main.less

.hero {
  width: 100%;
  background:
    url("../img/jpeg/background/hero-decorations.svg") no-repeat,
    url("../img/jpeg/background/back-hero.jpg") no-repeat;
  background-color: @background-safe;
  background-position: 50% 100%, 50%;
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 389px;
  padding: 0 19px;
}

.intro__wrapper {
  background-color: @background-white;
  padding: 32px 18px 16px;
}

.intro__title {
  .title-bold();
  padding-bottom: 24px;
}

.intro__description {
  .title-description();
}
