.hero {
  width: 100%;
  background:
    url("../img/svg/triangle-first.svg") no-repeat,
    url("../img/jpeg/background/mobile/back-mobile@1x.jpg") no-repeat;
  background-color: @background-safe;
  background-position: 50% 100%, 50% 10%;
  margin-bottom: 32px;
}

@media (min-resolution: 2dppx) {
  .hero {
    background:
      url("../img/svg/triangle-first.svg") no-repeat,
      url("../img/jpeg/background/mobile/back-mobile@2x.jpg") no-repeat;
    background-color: @background-safe;
    background-position: 50% 100%, 50% 30%;
    background-size: auto, 901px 389px;
  }
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 389px;
  padding: 0 19px;
}

.intro {
  .flex-center();
  background-color: @background-white;
  padding: 0 18px;
  margin-bottom: 16px;
}

.intro__wrapper {
  max-width: 270px;
}

.intro__title {
  .title-bold();
  margin-bottom: 38px;
}

.intro__description {
  .title-description();
}
