.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 28px 20px 23px;
  background-color: @background-white;
  min-height: 233px;
}

.main-footer__tag {
  max-width: 156px;
}

.tag__title {
  .title-bold();
}

.social__list {
  .list-drop();
  display: flex;
  flex-wrap: wrap;
  max-width: 162px;
}

.social__item {
  background-color: @blue-primary;
  margin-bottom: 6px;

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-active;
  }
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: @white;
}

.social__link:active {
  color: fadeout(@white, 70%);
}

.copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 130px;
}

.copyright__link {
  .list-drop();
  .title-description();
  color: @black;
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  &:hover {
    color: @blue-hover;
  }

  &:active {
    color: @text-active;
  }
}

.copyright__text {
  padding-right: 12px;
}
